/* Based on https://www.joshwcomeau.com/animation/3d-button/#mobile-enhancements-8 */
.printer {
  position: relative;
  margin: 0.5rem;
}

.shadow {
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}

.sides {
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  background: linear-gradient(
    to left,
    #71717a 0%,
    #a1a1aa 8%,
    #a1a1aa 92%,
    #71717a 100%
  );
}

.front {
  position: relative;
  display: block;
  border-radius: 0.75rem;
  background-color: #d4d4d8;
  padding: 1.5rem 1rem;
  transform: translateY(-30px);
}

.trailContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
}

.trail {
  margin: 0 auto;
  display: flex;
  height: 4rem;
  width: 10rem;
  align-items: flex-end;
  background-color: #111827;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.paper {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  background-color: #fafafa;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 0.25rem;
  color: #18181b;
  text-shadow: 0 0 2px #71717a;
}
